<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Basic Site</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="nav-bar">
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Photo Gallery</a>
      </nav>
    </div>
    <h1>PHOTO GALLERY</h1>
    <section class="works-container">
      <div>
        <div class="image-box">
          <img
            class="works-images"
            src="/images/gallery1.jpg"
            alt="cosmos-book"
          />
        </div>
      </div>
      <div>
        <div class="image-box">
          <img
            class="works-images"
            src="/images/gallery2.jpg"
            alt="cosmos-book"
          />
        </div>
      </div>
      <div>
        <div class="image-box">
          <img
            class="works-images"
            src="/images/gallery3.jpg"
            alt="cosmos-book"
          />
        </div>
      </div>
    </section>
    <section class="works-container">
      <div>
        <div class="image-box">
          <img
            class="works-images"
            src="/images/gallery4.jpg"
            alt="cosmos-book"
          />
        </div>
      </div>
      <div>
        <div class="image-box">
          <img
            class="works-images"
            src="/images/gallery5.jpg"
            alt="cosmos-book"
          />
        </div>
      </div>
      <div>
        <div class="image-box">
          <img
            class="works-images"
            src="/images/gallery6.jpg"
            alt="cosmos-book"
          />
        </div>
      </div>
    </section>
  </body>
</html>
