<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Basic Site</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="nav-bar">
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Photo Gallery</a>
      </nav>
    </div>
    <h1>WORKS OF CARL SAGAN</h1>
    <section class="works-container">
      <div>
        <div class="image-box">
          <img
            class="works-images"
            src="/images/cosmos-book.jpg"
            alt="cosmos-book"
          />
        </div>
        <p>The best seller book by Carl Sagan</p>
      </div>
      <div>
        <div class="image-box">
          <img
            class="works-images"
            src="/images/billions-and-billions-book.jpg"
            alt="cosmos-book"
          />
        </div>
        <p>Billions&Billions actually sold millions.</p>
      </div>
      <div>
        <div class="image-box">
          <img
            class="works-images"
            src="/images/demon-haunted-book.jpg"
            alt="cosmos-book"
          />
        </div>
        <p>Demon Haunted World was his last book.</p>
      </div>
    </section>
  </body>
</html>
